# dependencies
/node_modules
/frontend/node_modules
/cdk/node_modules

# build outputs
/frontend/build
/cdk/cdk.out

# env files
/frontend/.env.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
.DS_Store
.vscode

command_memo.txt
